snippet gcd "GCD (simple)        Greatest common divisor of integers"
inline ${1:int} gcd($1 a, $1 b) {
  while (b) { a %= b; swap (a, b); } return a;
}
endsnippet
snippet gcd "GCD (extended)      with x, y such that ax + by = gcd(a, b)"
${1:int} gcd ($1 a, $1 b, $1 & x, $1 & y) {
  if (a == 0) { x = 0; y = 1; return b; }
  $1 x1, y1, d = gcd (b%a, a, x1, y1);
  x = y1 - (b / a) * x1; y = x1; return d;
}
endsnippet
