snippet body "CodeJam             Google Code Jam style body"
"""
USING VIM SNIPPETS FOR CODING COMPETITIONS
https://github.com/hav4ik/contest-snippets

author:   hav4ik (chankhavu@gmail.com)
created:  `date +%d.%m.%y`
"""
import math
import numpy as np


def solve(tnum):
  # solution goes here:
  $0

  print('Case #{}:'.format(tnum), )


s = input().split()
for tnum in range(int(s[0]))
  solve(tnum + 1)
endsnippet
